


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
   
    

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.5.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>

        <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>*@



</head>
<body>


    <div class="container py-4">
        <h4 class="text-center text-uppercase">Details</h4>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUser">
            Add User
        </button>
        
        <br/>
        <br/>
        <div id="dataTable_wrapper"></div>
        <table id="dataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>UserId</th>
                    <th>FullName</th>
                    <th>UserEmail</th>
                    <th>Address</th>
                    <th>Carlicense</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add User Details</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" id="AName1" name="AName" type="text" />
                                <span id="nameval" class="field-validation-error"></span>
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" id="ALat1" name="ALat" type="text" />
                                <span id="latval" class="field-validation-error"></span>
                            </div>

                            <div class="form-group">
                                <label>Address</label>
                                <input class="form-control" id="ALong1" name="ALong" type="text" />
                                <span id="longval" class="field-validation-error"></span>
                            </div>
                            <div class="form-group">
                                <label>ProfilePic</label>
                                <input class="form-control" id="image" type="file" name="ImageFile" onchange="encodeImagetoBase64(this)" required />
                                <span id="longval" class="field-validation-error"></span>
                            </div>
                            <div>
                                <p  style="display:none" id="pImageBase64"></p>
                            </div>
                            <div>
                                <img id="image" height="150">
                            </div>
                            <input type="hidden" id="action" name="action" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="return InsertUser();">Submit</button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit User Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @*<label>Id</label>*@
                                <input class="form-control"  type="hidden" id="gid" name="gid" type="text" />
                                <span id="idval" class="field-validation-error"></span>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" id="AName" name="AName" type="text" />
                                <span id="nameval" class="field-validation-error"></span>
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" id="ALat" name="ALat" type="text" />
                                <span id="latval" class="field-validation-error"></span>
                            </div>

                            <div class="form-group" id="CarL">

                            </div>
                            <input type="hidden" id="action" name="action" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="close" class="btn btn-primary" onclick="return EditUsers();">Submit</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
@*<script src="~/Scripts/bootstrap.js"></script>*@
<script src="~/Scripts/UsersScripts/Adduser.js"></script>
<script src="~/Scripts/UsersScripts/Edit.js"></script>





<script type="text/javascript">

    $(document).ready(function () {
        $('#dataTable').DataTable({
            "ajax": {
                "url": "/Index/getdata",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "UserId" },
                { "data": "FullName" },
                { "data": "UserEmail" },
                { "data": "Address" },
                { "data": "CarLicense" },
                {
                    mRender: function (data, type, row) {

                        return '<a href="javascript:;" data-toggle="modal" data-target="#editUser" value="Edit User" class="edit-cancel text-uppercase" onclick="return EditUser(' + row.UserId + ')">Edit</a>'
                    }
                },
                {
                    mRender: function (data, type, row) {

                        return '<a href="javascript:;"   onclick="return Delete(' + row.UserId + ')">Delete</a>'
                    }
                }



            ]
        });
    });

</script>



@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/UsersScripts/Adduser.js"></script>
    <script src="~/Scripts/UsersScripts/Edit.js"></script>*@







